name: ML Training Pipeline

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run training
        run: python train.py

      - name: Job Summary
        run: |
          echo "## Experiment Results" >> $GITHUB_STEP_SUMMARY
          echo "**Name:** Pranathi Mantri" >> $GITHUB_STEP_SUMMARY
          echo "**Roll No:** 2022BCS0025" >> $GITHUB_STEP_SUMMARY
          cat output/results.json >> $GITHUB_STEP_SUMMARY

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: lab2-artifacts
          path: output/
